.home {
  width: 100%;
  .locationDetail {
    .photoContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      .navButton {
        width: 85%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        color: white;
        z-index: 1;
        svg {
          height: 50px;
        }
      }
      .photoCounter {
        display: flex;
        position: absolute;
        color: white;
        align-self: flex-end;
        padding-bottom: 20px;
        user-select: none;
      }
      .left {
        left: 10px;
      }
      .right {
        right: 10px;
      }
      img {
        width: 100%;
        height: 415px;
        object-fit: cover;
        border-radius: 25px;
        user-select: none;
      }
    }
    .locationHosting {
      display: flex;
      justify-content: space-between;
      h2 {
        font-size: 36px;
        font-weight: 500;
        line-height: 51.34px;
        text-align: left;
        color: $orangeKasa;
        margin-bottom: 0;
      }
      .geoloc {
        font-size: 18px;
        font-weight: 500;
        line-height: 25.67px;
      }
      .tags {
        ul {
          padding-left: 0;
          li {
            border: 1px solid;
            display: inline;
            border-radius: 20px;
            color: white;
            background-color: $orangeKasa;
            padding: 5px 20px;
            margin-right: 5px;
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
      .host {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        .profil {
          display: flex;
          align-items: center;
          font-weight: 500;
          font-size: 18px;
          color: $orangeKasa;
          img {
            width: 64px;
            height: 64px;
            object-fit: cover;
            margin-left: 10px;
            border-radius: 50%;
          }
        }
        .ratingStars {
          margin-top: 10px;
          svg {
            width: 24px;
            height: 24px;
            margin-right: 5px;
          }
          .full {
            color: $orangeKasa;
          }
          .empty {
            color: #e3e3e3;
          }
        }
      }
    }
    .infoCards {
      display: flex;
      .qualityCards {
        margin: 0 0 50px 0;
        justify-content: flex-start;
        align-items: normal;
        h2 {
          color: white;
          margin: 0;
        }
        .quality {
          width: 85%;
        }
        .description {
          width: 85%;
        }
      }
      :nth-child(2) {
        align-items: end;
      }
    }
  }
}

@media all and (max-width: 720px) {
  .home {
    .locationDetail {
      .photoContainer {
        .photoCounter {
          display: none;
          img {
            height: 250px;
          }
        }
      }
      .locationHosting {
        display: flex;
        flex-direction: column;
        h2 {
          font-size: 24px;
          margin-top: 0;
          line-height: 30px;
        }
        .geoloc {
          font-size: 16px;
        }
        .tags {
          ul {
            width: 90%;
            margin: 5px 0;
            display: flex;
            flex-wrap: wrap;
            li {
              font-size: 10px;
              border-radius: 7px;
            }
          }
        }
        .host {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;
          .profil {
            p {
              font-size: 14px;
            }
            img {
              width: 32px;
              height: 32px;
            }
          }
          .ratingStars {
            margin-top: 0;
            svg {
              width: 18px;
              height: 18px;
            }
          }
        }
      }
      .infoCards {
        display: flex;
        flex-direction: column;
        .qualityCards {
          width: 100%;
          align-items: center;
          margin-top: 5px;
          margin-bottom: 15px;
          .quality {
            height: 32px;
            margin: 0;
            h2 {
              font-size: 15px;
              line-height: normal;
            }
            svg {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}
