.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 24px;
  }
  .links {
    display: flex;
    justify-content: space-between;
    a {
      padding-left: 30px;
      color: black;
      text-decoration: inherit;
    }
  }



  
  