$orangeKasa: #ff6060;
body {
  margin: 0 auto;
  font-family: Montserrat, serif;
}
main {
  max-width: 1920px;
  width: 90%;
  display: flex;
  justify-content: center;
  margin: auto;
}
.errorPage {
  width: 100%;
}

